<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}"/>
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='content-language' content='zh-cn'>
  <link href="//cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/hack.min.css" integrity="sha512-XgCw4Srl8lC1ECwcaHwAU0WnxQwHkqmInzg9wJLtGB7DRuMaXPuK2k9WJ2AwRDGdrgK9eJpZl2hUlLi2WQssmw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon" href="/image/logo.png">
  {% if page.syntax_highlight != false %}
  <link rel="stylesheet" href="{{ "/assets/css/tomorrow-night-eighties.css" | relative_url }}">
  {% endif %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% if page.jquery == true %}
  <script src="{{ "/assets/scripts/jquery-3.1.0.min.js" | relative_url }}"></script>
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">  
</head>
