// Theme of 重生云
// Copyright(c) chopin, 2023

.archive-main {
  margin: 1rem 0;

  a {
    text-decoration: none;
    position:relative;
    &::after{
    content:'';
		display:block;
		/*开始时候下划线的宽度为100%*/
		width:100%;
		height:1px;
    left:0;
		position:absolute;
		bottom:2px;
		background:#5e81ac;
		transition:all 0.1s ease-in-out;
		/*通过transform的缩放scale来让初始时x轴为0*/
		transform: scale3d(0,1,1);

       }
    &:hover::after {
      transform:scale3d(1,1,1);
    }
  }

  .archive-item {
    line-height: 1.8rem;
    margin-top: .6rem;
    overflow: auto;

    .archive-date {
      color: $light-color;
      font-size: .8rem;
      margin: 0;
    }
  }
}

.archive-more {
  color: $light-color;

  a {
    color: $light-color;
    position:relative;
    &::after{
    content:'';
		display:block;
		/*开始时候下划线的宽度为100%*/
		width:100%;
    left:0;
		height:1px;
		position:absolute;
		bottom:1px;
		background: $light-color;
		transition:all 0.15s ease-in-out;
		/*通过transform的缩放scale来让初始时x轴为0*/
		transform: scale3d(0,1,1);
       }
    &:hover::after {
      transform:scale3d(1,1,1);
    }
  }
}
