// Theme of 重生云
// Copyright(c) chopin, 2023

.archive-main {
  margin: 1rem 0;

  a {
    text-decoration: none;
    color: $main-color;
  }
  a:hover {
    text-decoration: none;
    color: $link-color;
  }

  .archive-item {
    line-height: 1.8rem;
    margin-top: .6rem;
    overflow: auto;

    .archive-date {
      color: $light-color;
      font-size: .8rem;
      margin: 0;
    }
  }
}

.archive-more {
  color: $light-color;

  // 针对“查看存档”等页脚/更多链接，禁用全局的动态下划线效果
  a {
    color: $light-color;
    background-image: none !important;
    background-size: 0 !important;
    transition: none !important;
    text-decoration: none !important;
  }

  a:hover {
    text-decoration: none;
    color: $link-color;
  }
}
