// Theme of 重生云
// Copyright(c) chopin, 2023

pre,
code {
  font-family: Hack, "LXGW WenKai Screen", monospace;
  hyphens: none;
}

pre {
  white-space: pre;
}

pre code {
  white-space: pre;
  word-break: normal;
  display: block;
  overflow-x: auto;
}

pre.highlight {
  border: 1px solid $code-bg-color;
  border-radius: 1rem; // MD3大圆角
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); // MD3阴影
  position: relative; // 为复制按钮定位做准备
  overflow: hidden; // 确保内部元素不影响圆角
  padding: 0; // 重置padding
  background-color: $code-block-bg; // 代码块背景色
}

// 顶部工具栏样式
.code-toolbar {
  height: 1.5rem;
  background-color: $code-toolbar-bg;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

code.hljs {
  padding: .8rem;
  border-radius: 0 0 1rem 1rem;
  display: block;
  overflow-x: auto;
}

code.highlighter-rouge {
  border: 1px solid $inline-code-border;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: normal;
  padding: .1rem .3rem;
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

// 复制按钮样式
.copy-button {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  padding: 0.3rem 0.7rem; // 调整内边距，增加左右边距
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 10;
  height: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem; // 修改为四个角都有圆角
  
  &:hover {
    background-color: $copy-button-hover;
  }
}