// Theme of 重生云
// Copyright(c) chopin, 2023

footer {
  font-size: 1rem;
  margin-top: 2.4rem;
  overflow: hidden;
  text-align: center;

  .content-wrapper {
    border-bottom: 0;
  }
}

@media (max-width: $breakpoint) {
  footer {
    .content-wrapper {
      padding-left: 0;
    }
  }
}

.contact {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  text-align: left;

  a {
    color: $main-color;
    padding-left: .5rem;
  }

  &:hover {
    a {
      color: $main-color;
      position:relative;
      //覆盖link的动态underline样式
      &::after{
      content:'';
      transform: scale3d(0,1,1);
         }
      &:hover::after {
        //就用空规则集
      }
      &:hover {
        color: $light-color;
      }
    }
  }

  .contact-links {
    float: right;
  }
}

@media (max-width: $breakpoint) {
  .contact {
    .contact-copyright {
      margin-left: 0rem;
      padding-top: 1rem;
      padding-left: .3rem;
      width: 100%;
    }

    .contact-links {
      float: none;
      margin-left: -.1rem;
      width: 100%;
    }
  }
}
