// Theme of 重生云
// Copyright(c) chopin, 2023

* {
  box-sizing: border-box;
  transition: color 0.2s;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

@media (max-width: $breakpoint) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: $bg-color;
  color: $main-color;
  font-family: "LXGW WenKai Screen", sans-serif;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 1.5rem;
  text-align: center;
  word-wrap: break-word;

  ::selection {
    background-color: $link-color;
    color: $bg-color;
  }
}


::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $light-color;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;
}

a {
  color: $link-color;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.content {
  text-align: center;
  width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  width: $breakpoint;
}

@media (max-width: $breakpoint) {
  .content-wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
    width: 100%;
  }
}

img {
  border: 0;
  max-width: $breakpoint;
}

@media (max-width: $breakpoint) {
  img {
    max-width: 100%;
  }
}
