// Theme of 重生云
// Copyright(c) chopin, 2023

.menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: .4rem;
  padding-top: 1.2rem;
  text-align: left;

  .menu-home {
    font-size: 1.8rem;
    font-weight: 500;
    a {
      color: $sub-color;
      text-decoration: none;
      position:relative;
      //覆盖link的动态underline样式
      &::after{
      content:'';
      transform: scale3d(0,1,1);
         }
      &:hover::after {
      }
    }
  }

  .menu-links {
    display: flex;
    float: right;
    margin-top: 0;
  }

  .menu-item {
    font-size: 1.2rem;
    padding: .1rem .4rem;
    text-align: left;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    a {
      color: $light-color;
      text-decoration: none;
      position:relative;
      &::after{
      content:'';
			display:block;
			/*开始时候下划线的宽度为100%*/
			width:100%;
			height:2px;
			position:absolute;
			bottom:1px;
			background: $light-color;
			transition:all 0.1s ease-in-out;
			/*通过transform的缩放scale来让初始时x轴为0*/
			transform: scale3d(0,1,1);
			/*将坐标原点移到元素的中间，以原点为中心进行缩放*/
			transform-origin:50% 0;
      }
      &:hover::after {
        transform:scale3d(1,1,1);
      }
    }
  }

  .menu-active {
    a {

    }
  }

  @media (max-width: $breakpoint) {
    display: block;
    padding-top: .4rem;

    .menu-home {
      font-size: 1.8rem;
      padding: .4rem 0;
    }

    .menu-links {
      float: left;
      margin-bottom: 1.8rem;
      width: 100%;
    }
  }
}
