// Theme of 重生云
// Copyright(c) chopin, 2023

.page {
  text-align: left;

  .page-main {
    .page-title {
      color: $sub-color;
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1.2rem;
      padding: .8rem 0;
      text-align: left;
    }
  }
}
