// Theme of 重生云
// Copyright(c) chopin, 2023


@media screen and (min-width:78rem){
.toc {
    position: fixed;
    font-size: 1.1rem;
    max-width: 15rem;
    min-width: 15rem;
    top: 8rem;right: 1.5rem;
    max-height: calc(100% - 8rem);
    overflow: auto;
}
}