---
---
/*
 * Theme of 重生云
 * Copyright(c) chopin, 2022
 */

$breakpoint: 45rem;

$main-color:    #474747; // 底部图标和文本
$sub-color:     #0099CC; // 大标题
$code-bg-color: #848482; // 代码背景(大概
$light-color:   #adb5bd; // 日期和菜单
$border-color:  #0099CC; //
$bg-color:      #eeeeee; // 背景

$link-color:    #6699CC; // 链接
$link-post:     #99CC33; //post链接选中前的样式


@import "main";
@import "menu";
@import "footer";
@import "page";
@import "post";
@import "code-highlight";
@import "archive";
@import "things";
@import "toc";
@import "tag"