---
---
/*
 * Theme of 重生云
 * Copyright(c) chopin, 2022
 */

$breakpoint: 45rem;

$main-color:    #6e7f80; // 底部图标和文本
$sub-color:     #5e81ac; // 大标题
$code-bg-color: #848482; // 代码背景(大概
$light-color:   #adb5bd; // 日期和菜单
$border-color:  #5e81ac; //
$bg-color:      #eceff4; // 背景

$link-color:    #5e81ac; // 链接

@import "main";
@import "menu";
@import "footer";
@import "page";
@import "article";
@import "code-highlight";
@import "archive";
@import "things";
@import "toc"