---
layout: default
---
<div class="article">
  <div class="article-head">
    <h1 class="article-title">{{page.title}}</h1>
    <div class="article-date">
      {{page.date | date:"%B %d, %Y"}}
      {% if page.tags %}
        <div class="tag-container">
          {% for tag in page.tags %}
            <a href="/tag#{{ tag | slugify }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

  {% capture toc_output %}{% include toc.html html=content %}{% endcapture %}
  {% unless toc_output contains '<!-- no toc -->' %}
    {{ toc_output }}
  {% endunless %}

  <div class="article-main">
    {{ content }}
  </div>

<!--

  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
  <div id="gitalk-container"></div>
  <script type="text/javascript">
  var gitalk = new Gitalk({
  // gitalk的主要参数
  clientID: 'fd4fcf9fd391d6c72451',
  clientSecret: '80ccdae3fd6cd37ea9b66f353b3f919c21b2e988',
  repo: 'xiaochopin.github.io',
  owner: 'xiaochopin',
  admin: ['xiaochopin'],
  id:window.location.pathname,
  });
  gitalk.render('gitalk-container');
  </script>

-->

<!-- valine 


    <script src="https://unpkg.com/leancloud-storage@4.15.2/dist/av-min.js"></script>
    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'xUGwBe777RMYRhHOSYb36NRS-gzGzoHsz',
            appKey: 'zZvEqE5ztcwvTwsgC2xHj346',
            serverURLs: 'https://xugwbe77.lc-cn-n1-shared.com',
            path: '{{ page.url }}',
            avatar:'mp',
            avatar_cdn: 'https://weavatar.com/avatar/',
            placeholder: "说点什么吧？",
        })
    </script>

    -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

    init({
      el: '#waline',
      serverURL: 'https://rebroncloud.netlify.app/.netlify/functions/comment/',
      path: '{{ page.url }}',
      placeholder: "说点什么吧？",
    });
  </script>